@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">

        <div class="col-md-8">
            <h1 style="font-size:55px">Shahriar Mahmud Sajid</h1>
            <p class="lead">Software Developer (ASP.NET) </p>
            <p><a href="https://www.linkedin.com/in/shahriar-mahmud-5541bb134" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4 container" style="float:right">
            <img class="img-profile" src="~/startbootstrap-sb-admin-2-gh-pages/img/Mon_Vaabe_Kare.jpg" />
        </div>
    </div>
    
</div>

